#now .statuslol_content a,
#now .statuslol_content p,
#now .statuslol_content li,
#now .statuslol_content em,
#now .statuslol_content strong {
  font-size: 0.8em;
  overflow-wrap: inherit;
  color: #111;
  text-shadow: none;
}

#now .statuslol_content a {
  color: #111;
  border-bottom: 1px dotted #111;
  text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
  overflow-wrap: break-word;
}

#now .statuslol_content code {
  color: #111;
  background: #ced4da;
  display: inline-block;
  padding: 0.2em 0.3em;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

#plug p {
  font-size: 0.8em;
}

/* tagline cursor animation */
#typo::after {
  content: "";
  width: 0.5rem;
  height: 1.2rem;
  background: #B2F2BB;
  display: inline-block;
  margin-left: 0.2rem;
  vertical-align: middle;
  animation: cursor-blink 1.5s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}









